.contact h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  margin: 50px auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px 0;
}

button {
  margin: 20px 0;
}

.icons {
  width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.contact i {
  margin: 20px;
  font-size: 5rem;
}