.nav {
  position: sticky;
  background-color: #222;
  top: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

/* gets heading on left and links on right. */
/* transition for .active class that changes padding/height. */
.nav .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

/* list style */
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

/* Same transition */
.nav li, nav h1 {
  color: whitesmoke;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

/* Current page in contrast color and when hover over link */
/* .nav a.current, */
.nav li:hover, li .active a {
  color: rgba(144,109,155, 1);
  cursor: pointer;
}

nav .icon-links {
  display: none;
}

@media only screen and (max-width: 680px) {
  nav .icon-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 2rem;
  }

  .logo {
    display: none;
  }

  nav .word-links {
    display: none;
  }
}