.projects {
  background-color: steelblue;
  margin: 0;
}

.project-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
}


.projects h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 50px;
}