.stack-container {
  position: relative;
  height: 900px;
  background-color: rgb(250, 250, 250);
}

/* Centered circle */
.info-wrapper {
  width: 360px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Background color and color of text in circle */
.text {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(144,109,155, 1) 0%,
    rgba(144,109,155, 1) 70%,
    rgba(144,109,155, 0) 70.3%
  );
  position: relative;
  margin: 0;
  color: white;
}

.text p {
  font-family: "Titillium Web", "Raleway", sans-serif;
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: center;
  font-style: italic;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

/* Heading */
.text strong {
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
  line-height: 1.5;
}

/* polygon shape*/
.text::before {
  content: "";
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

/* polygon shape */
.text p::before {
  content: "";
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
  );
  shape-margin: 7%;
}

.icons-container-circle {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icons-container-square {
  display: none;
}

/* Small screens */
/* Info is in a centered circle and text icons appear below */
@media only screen and (max-width: 680px) {
  .stack-container {
    position: static;
    height: auto;
    background-color: rgb(250, 250, 250);
    padding-top: 50px;
  }

  /* Position circle centered with margin full screen*/
.info-wrapper {
  width: 360px;
  height: 360px;
  position: static;
  left: auto;
  top: auto;
  transform: none;
  margin: 0 auto;
  width: 280px;
  height: 280px;
}

.icons-container-circle {
  display: none;
}

.icons-container-square {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.text p {
  font-size: 1rem;
}
}

