.inner-container {
  display: inline;
  height: 300px;
  position: absolute;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
}

span {
  display: block;
  position: absolute;
  top: -24px;
  left: -24px;
}

.stack-container i {
  font-size: 5rem;
}

@media only screen and (max-width: 680px) {
  .inner-container {
    position: static;
    left: auto;
    width: 80px;
    height: 80px;
    margin: 10px;
  }

  span {
    top: 0;
    left: 0;
  }
}