.inner-container {
  display: inline;
  font: 26px Monaco, MonoSpace;
  height: 300px;
  position: absolute;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
}

span {
  display: block;
  position: absolute;
  top: -24px;
  left: -24px;
}

i {
  font-size: 5rem;
}
